CREATE DATABASE `rollup`;
CREATE DATABASE `apikey`;

CREATE USER 'DB_USER_NAME'@'localhost' IDENTIFIED BY 'DB_USER_PASSWORD';
GRANT ALL PRIVILEGES ON *.* TO 'DB_USER_NAME'@'localhost' WITH GRANT OPTION;