<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    'db1' => array(
        'username' => 'DB1_USER',
        'password' => 'DB2_PASSWD'
      ),
    'db2' => array(
        'username' => 'DB2_USER',
        'password' => 'DB2_PASSWD'
      ),
    'client' => array(
        'username' => 'AD_USER',
        'password' => 'AD_PASSWD'
     ),
    'service_manager' => array(
          'factories' => array(
            'Zend\Log' => function($sm) {
                $log = new Zend\Log\Logger();
                $writer = new Zend\Log\Writer\LOG_WRITER_LOCATION;
                $log->addWriter($writer);
                return $log;
              }
          )
     )
);
